.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100vh;
}

.heading {
    color: white;
    top: 120px;
    position: absolute;
    font-size: 20px; /* Consider using responsive units like 'vw' or 'em' */
    left: 50%;
    transform: translateX(-50%);
    max-height: 20px;
    max-width: 90%; /* Limit the width to 90% of its container */
    padding: 0 10px; /* Add padding to ensure it doesn't touch the screen edges */
    box-sizing: border-box; /* Include padding in the width calculation */
    text-align: center; /* Ensure text is centered even within the heading */
}

@media (max-width: 600px) {
    .heading {
        font-size: 16px; /* Smaller font size on smaller screens */
    }
}
